.ColorBox-container {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    margin-bottom: -4.5px;
    display: inline-block;
    position: relative;
    cursor: pointer;

    .ColorBox-overlay {
        transform: scale(0.1);
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 0;
        transition: transform 500ms ease-in-out;
    }

    .ColorBox-copied {
        position: absolute;
        transform: scale(9);
        opacity: 1;
        z-index: 10;
        animation-name: fadeout;
        animation-delay: 1000ms;
        animation-duration: 1500ms;
    }

    .ColorBox-overlay-message {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        transform: scale(0.1);
        opacity: 0;
        color: white;
        transition: transform opacity 500ms ease-in-out;
    }

    .show {
        z-index: 25;
        animation-name: copied-msg-entrance;
        animation-delay: 450ms;
        animation-duration: 500ms;
    }


    .ColorBox-copy-container {
        .ColorBox-copy {
            width: 100px;
            height: 30px;
            position: absolute;
            display: inline-block;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -15px;
            text-align: center;
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
            font-size: 1rem;
            line-height: 30px;
            color: white;
            text-transform: uppercase;
            border: none;
            opacity: 0;
            cursor: copy;
        }
    }

    .ColorBox-content-container {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        padding: 10px;
        color: black;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 12px;
    }

    .ColorBox-more {
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        border: none;
        right: 0px;
        bottom: 0px;
        color: white;
        width: 60px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        text-transform: uppercase;
    }
}

.ColorBox-container:hover .ColorBox-copy {
    opacity: 1;
    transition: 500ms;
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes copied-msg-entrance {
    0% { 
        opacity: 0;
        transform: scale(0.1); 
    }
    50% { 
        opacity: 1;
        transform: scale(1); 
    }
    100% {
        opacity: 0;
        transform: scale(1); 
    }
}
